* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#principal {
  background-color: aqua;
  display: flex;
  width: 50%;
  
  text-align: center;
  align-items: center;
  justify-content: center;
  
}
#img1 {
  display: flex;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 39.2vw;
  
}


#imagen {
  display: flex;
  width: 100%;
  height: 100%;
}



#titulo {
  
  display: flex;
  width: 50%;
  position: absolute;
  top: 56%;
  left: 38%;
  font-size: 30px;
}
#description {
 
  width: 70%;
  position: absolute;
  top: 65%;
  left: 15%;
  font-size: xx-large;
  font-weight: 200;
}

.container-2frutas{
 
  display: flex;
  height: 39.3vw;
  background-color:rgb(69, 196, 254);
}



